<section class="todoapp">
  <header class="header">
    {{yield (hash addNewTodo=this.addNewTodo) to="header"}}
  </header>
  {{#unless @isTodosEmpty}}
    <section class="main">
      {{yield
        (hash updateTodos=this.updateTodos deleteTodos=this.deleteTodos)
        to="main"
      }}
    </section>

    <footer class="footer">
      {{yield (hash deleteTodos=this.deleteTodos) to="footer"}}
    </footer>
  {{/unless}}
</section>
<footer class="info">
  {{yield to="info"}}
</footer>